.about--container{
    display: grid;
    grid-template-areas: 
    'title title'
    'aboutMe mySkills';
    max-width: 900px;
    margin-right: auto;
    margin-left: auto; 
    gap:  0px 110px;
}

.title--container{ 
    grid-area: title;
    text-align: center;
    margin-bottom: 32px;
}

.about--Text{
    font-size: 21px;
}

.aboutMeContainer{
    grid-area: aboutMe;
    width: 350px;
}

.aboutMe--title{
    margin-bottom: 26px;
}

.aboutMe--text{
    text-align:justify ;
    margin-bottom: 32px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.06rem;
}



.mySkillsContainer{
    grid-area: mySkills;
    width: 350px;
}


.skills{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
}

.skill{
    padding: 9px 16px;
    border-radius: 4px;
    background-color: lightgray;
    text-align: center;
    font-size: 1.2rem;
    

   

}






